.headImg>img {
  object-fit: cover;
  width: 1540px;
  height: 600px;
}

.headImg {
  top: 0px;
  z-index: -1;
}

.titleSection {
  text-align: left;
  font-size: 38px;
}

.dogSection,
.catSection {
  width: 340px;
  height: 170px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: white;
  column-gap: 40px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.addPetSection,
.existPet {
  width: 274px;
  height: 170px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  overflow: hidden;

  padding: 12px 12px;
  box-sizing: border-box;
}

.existPet>img {
  width: 100px;
  object-fit: cover;
}

.dogSection:hover,
.catSection:hover,
.addPetSection:hover,
.existPet:hover {
  border: 4px dashed #f2bdcb;
}

.dogSection:hover img,
.catSection:hover img {
  transform: rotateY(180deg);
}

.catSection>img,
.dogSection>img {
  width: 100px;
  height: 100px;
  transition: all 0.5s;
}

.container {
  padding: 0px 10%;
}

.contentStyle {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.bestDealService {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-bottom: 24px;
}

.bestDealService2 {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.serviceBox {
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  padding: 24px;

  background-color: white;
  border-radius: 12px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.serviceBox>img {
  width: 250px;
  height: 200px;
  border: 1px dashed rgb(176, 175, 175);
}

.serviceBox2 {
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  padding: 24px;

  background-color: white;
  border-radius: 12px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

#serviceDescription {
  width: 280px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bookingButton {
  background-color: #ff7fa1;
}

.bookingButton:hover {
  background-color: #ff7fa1;
}

/*===================== Card Title =====================*/
.e-card {
  background: transparent;
  box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
  position: relative;
  width: 240px;
  height: 330px;
  border-radius: 16px;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 540px;
  height: 700px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -50%;
  margin-top: -70%;
  background: linear-gradient(744deg, #fad2fa, #f2bdcb 100%, #443c3c);
}

.icon {
  width: 3em;
  margin-top: -1em;
  padding-bottom: 1em;
}

.infotop {
  text-align: center;
  font-size: 18px;
  position: absolute;
  top: 5.6em;
  left: 0;
  right: 0;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.name {
  font-size: 14px;
  font-weight: 100;
  position: relative;
  padding: 0px 20px;
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 210px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 4000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 10000ms;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 8000ms;
}

.wave:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}